<header class="main-header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <span routerLink="/" class="logo-blue">Talent</span><span class="logo-green">Hub</span>
      </div>
      <nav class="main-nav">
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
        <a routerLink="/candidat" routerLinkActive="active-link">Candidats</a>
        <a routerLink="/freelances" routerLinkActive="active-link">Freelances</a>
        <a routerLink="/entreprise" routerLinkActive="active-link">Entreprises</a>
        <a routerLink="/offre" routerLinkActive="active-link">Offres</a>
        <a routerLink="/a-propos" routerLinkActive="active-link">À Propos</a>
      </nav>
      <button class="btn-login" routerLink="/connexion">Se Connecter</button>
    </div>
  </div>
</header>